.outer {
    margin: 0 !important;
    padding: 0 !important;
    /* text-align: center;
    align-content: center; */

}

/* HOME */
.home-container{
    padding: 25px;
}





/* Login */
.login-container, .register-container, .edit-container{
    width: 60% !important;
    padding: 50px;
}
.login-container .header{
    padding: 30px;
    font-size: 1.3rem;
}
.register-container .header{
    padding: 30px;
    font-size: 1.3rem;
}
.edit-container .header{
    padding: 10px;
    font-size: 1.3rem;
}
/* 
form > label{
    float: left !important;
    text-align: left !important;
    align-items: left;
} */

.login-container form {
    padding: 10px;
    background: #efefef;
    width: 80%;
}
.register-container form {
    padding: 10px;
    background: #efefef;
    width: 80%;
}
.edit-container form {
    padding: 10px;
    background: #efefef;
    width: 80%;
}

.link {
    margin-left: 10px;
}
.orReg{
    padding: 15px;
}


/* REGISTER */

#register-form {
    padding: 20px;
}
#register-form > label {
    display: block;
    margin-top: 20px;
}


#children-list {
    margin-top: 100px;
    padding: 30px;
}

#children-list > .children-list-item {
    padding: 20px;
    border: 1px solid;
    margin-top: 5px;
}

#children-list > .children-list-item > .col-md-1 > .role {
    color: red !important;
}


.dashboard-wrapper .current-user {
    /* padding: 30px; */
    /* margin-top: 50px; */
    /* background: #efefef;
    text-align: left
     */
    
}


.dashboard-wrapper .dashboard-header{
    padding: 20px;
    font-size: 1.3rem;
    background: cornflowerblue;
    color: white;
}
.dashboard-wrapper .edit-user-btn{
    padding: 10px;
    border: 1px solid black;
    margin-top: 30px;
    color: black;
}
.dashboard-wrapper .edit-user-btn:hover{
    color: white;
    background: black;
    text-decoration: none;
}
.err {
    padding: 20px;
    color: white;
    background: #ff5555;
}



/* homepage styles */
/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

body {
    background: #F1F3FA;
  }
  
  /* Profile container */
  .profile {
    margin: 10px 0;
  }
  
  /* Profile sidebar */
  .profile-sidebar {
    text-align: center;
    padding: 20px 0 10px 0;
    background: #5a7391;
  }
  
  .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 25%;
    height: 25%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: #efefef;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  .profile-usertitle-job {
    /* text-transform: uppercase; */
    color: #efefef;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  .profile-userbuttons {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
  }
  
  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    padding: 6px 15px;
    margin-right: 5px;
  }
  
  .profile-userbuttons .btn:last-child {
    margin-right: 0px;
    font-size: 15px;
  }
      
  .profile-usermenu {
    margin-top: 30px;
  }
  
  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }
  
  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }
  
  .profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
  }
  
  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }
  
  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
  }
  
  .profile-usermenu ul li.active {
    border-bottom: none;
  }
  
  .profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
  }
  
  /* Profile Content */
  .profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }
  @media screen and (max-width: 480px) {
    .events {
        margin-left: 27%;
    }
}
